name: python
"on": push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v5.3.0
        with:
          python-version: 3.9.18
          cache: "pip"
      - name: Install PIP packages defined in requirements.txt
        run: |
          pip install -r requirements.txt
      - name: Run tests
        run: |
          pytest --cov=main test.py --verbose --capture=no --cov-report term-missing
